@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&display=swap');

body {
  background-color: #ffefb9;
}

.card {
  color: 34502b;
  background-color: #90aa88;
}

.card-footer {
  background-color: #34502b;
}

nav {
  color: #34502b;
  background-color: #90aa88;
  padding: 10px 15px 10px 15px !important;
}

nav ul {
  margin-left: 10px;
}

nav #categorias-select {
  margin-left: 85px;
}

.btn,
btn {
  border: #ffefb9;
  background-color: #ffefb9;
  color: #34502b;
}

.btn:hover {
  border: #ddcf9e;
  background: #ddcf9e;
  color: #34502b;
}

.btn:active {
  background-color: #ce6b5d;
  color: #ffefb9;
}

.form-select {
  background-color: #ffefb9;
  color: #34502b;
}

span {
  color: #ffefb9;
}

.logo {
  color: #ffefb9;
  font-family: 'Playwrite PL', cursive;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  justify-content: center;
  align-items: center;
}

.badge {
  background-color: #941f1f;
}

.alert {
  background-color: #941f1f;
  border: #941f1f;
  color: #ffefb9;
}

.h3 {
  color: #34502b;
}

@media (max-width: 990px) {
  nav #categorias-select {
    margin-left: 10px;
  }
}
